In [136]:
import pandas as pd
import random

In [142]:
fake_df = pd.DataFrame({"User ID": [], "Age": [], "AnnualSalary": [] , "Gender": []})

In [143]:
n_users = 1000

for each in range(1, n_users):
    user_id = each
    age = random.randint(18, 63)
    annual_salary = random.randint(15000, 152500)
    gender_list = ["Male", "Female"]
    gender = gender_list[random.randint(0,1)]
        
    tmp_df = pd.DataFrame({"User ID": str(user_id), "Age": str(age), "AnnualSalary": str(annual_salary), "Gender": gender}, index=[0])
    fake_df = fake_df.append(tmp_df, ignore_index = True)

fake_df.head()

  User ID Age AnnualSalary  Gender
0       1  45        57791    Male
1       2  44        42052    Male
2       3  30       151570  Female
3       4  62        86157    Male
4       5  27        15771  Female

In [144]:
fake_df.to_csv("../data/unknown_batch.csv", index=False)